<!doctype html>
<html lang="{{LANG}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><!--{{TITLE}}--></title>
        <style>
            @page {
                margin: 0.4in;
                size: A4 portrait;
            }
            body {
                margin: 0;
                padding: 0;
            }
            /*{{CSS}}*/
        </style>
    </head>
    <body>
        <!--{{BODY}}-->
        <script>
            window.addEventListener("load", function () {
                window.print();
            });
        </script>
    </body>
</html>
